{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load auth_extras %}

{% block title %}
    <title>Warn User</title>
{% endblock %}


{% block content %}
    {% if request.user|has_group:"Admin" %}
        <h1 style="text-align: center">Warn a user {{ user }}</h1>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <form method="post" action="." class="form-group mb-3">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success">Warn</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1 style="font-size: 50px; text-align: center">OOPS!</h1>
    {% endif %}
{% endblock %}


{% block extra %}
    <div style="text-align: center">
        <h1>Login <a href="/login">here</a>!</h1>
    </div>
{% endblock %}