{% extends 'base.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles.css' %}">
    <title>Articles</title>
{% endblock %}

{% block content %}
    <h1 id="headline">Our Articles:</h1>
    {% for elems in blog_list %}
        <div id="list">
            <p id="title">{{ elems.title }}</p>
            <p id="author">by {{ elems.author }}</p>
            <p id="timestamp">created at {{ elems.timestamp }}</p>
        </div>
    {% endfor %}
{% endblock %}