{% extends 'base.html' %}

{% load static %}
{% load auth_extras %}


{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles.css' %}">
    <title>Articles</title>
{% endblock %}

{% block content %}
    <h1 id="headline" align="center">Our Articles:</h1>
    {% for elems in blog_list %}
        {% if elems.image %}
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="{{ elems.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ elems.title }}</h4>
                    <p class="card-text">{{ elems.short_version }}</p>
                    <a href="/blog/{{ elems.id }}" class="btn btn-primary">Read more</a>
                    {% if request.user|has_group:"Admin" %}
                        <a href="/edit/{{ elems.id }}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block extra %}

<h1>You are not logged in</h1>
<p><a href="/login">Click here</a> to log in</p>

{% endblock %}