{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load auth_extras %}

{% block title %}

    <title>Write!</title>

{% endblock %}

{% block content %}
    {% if request.user|has_group:"Admin" %}
        {% if request.user|is_banned %}
            <p>You are banned</p>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        <form method="post" action="." enctype="multipart/form-data" class="form-group mb-3">{% csrf_token %}
                            {{ form|crispy }}
                            {{ form.media }}
                            <button class="btn btn-success">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row justify-content-center">
            <div class="col-3">
                <h1>You are not a writer yet</h1>
                <p>Apply <a href="/apply">here</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra %}

    <h1>You are not logged in</h1>
    <p><a href="/login">Click here</a> to log in</p>

{% endblock %}