{% extends 'base.html' %}
{% load static %}

{% block title %}
 <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
 <title>Blog</title>
{% endblock %}


{% block content %}
    {% for blog in blog %}
        <h1 id="title-blog">{{ blog.title }}</h1>
        <div class="row justify-content-center">
            <div class="col-7">
                <p id="text-main" style="text-align:center">{{ blog.text|safe }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

