{% extends 'base.html' %}
{% load static %}

{% load auth_extras %}

{% block title %}
 <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
 <title>Blog</title>
{% endblock %}


{% block content %}
    {% for blog in blog %}
        <h1 id="title-blog">{{ blog.title }}</h1>
        <div class="row justify-content-center">
            <div class="col-7" id="div-text">
                <p id="text-main" style="text-align:center">{{ blog.text|safe }}</p>
            </div>
            <a href="../comment/{{ blog.id }}"><button class="btn btn-success">Comment</button></a>
        </div>
    {% endfor %}

    {% for comment in comments %}
        <div class="col-16 d-flex justify-content-center">
            <div class="card" style="width:50rem; margin-bottom: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ comment.content }}</h5>
                    <p class="card-text">by {{ comment.user }}</p>
                    <p>created at: {{ comment.timestamp }}</p>
                    {% if request.user|has_group:"Admin" %}
                        <a href="/deleteComment/{{ comment.id }}"><button class="btn btn-danger" >Delete</button></a>
                    {% endif %}
                    <a href="/replyComment/{{ comment.id }}"><button class="btn btn-success">Reply</button></a>
                  </div>
            </div>
        </div>
        {% for reply in reply %}
            {% if comment.id == reply.replied_to %}
                <div class="col-8 d-flex justify-content-center">
                    <div class="card" style="width:50rem; margin-bottom: 15px;">
                          <div class="card-body">
                            <h5 class="card-title">{{ reply.content }}</h5>
                            <p class="card-text">by {{ reply.author }}</p>
                            <p>created at: {{ reply.timestamp }}</p>
                            {% if request.user|has_group:"Admin" %}
                                <a href="/deleteComment/{{ comment.id }}"><button class="btn btn-danger" >Delete</button></a>
                            {% endif %}
                            <h7 class="card-title">Replied to the comment of {{ comment.user }}</h7>
                          </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block extra %}

<h1>You are not logged in</h1>
<p><a href="/login">Click here</a> to log in</p>

{% endblock %}