{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load auth_extras %}

{% block title %}
    <title>Apply</title>
{% endblock %}

{% block content %}
    {% if request.user|is_banned %}
        <p>You are banned</p>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <form method="post" action="." class="form-group mb-3">{% csrf_token %}
                        {{ form|crispy }}
                        {{ form.media }}
                        <button class="btn btn-success">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra %}
    <h1>You are not logged in</h1>
    <p><a href="/login">Click here</a> to log in</p>
{% endblock %}