{% extends 'base.html' %}

{% load auth_extras %}

{% block title %}
    <title>User</title>
{% endblock %}


{% block content %}
    {% if request.user|is_banned %}
        <p style="text-align: center; font-size: 45px">You are banned</p>
    {% else %}
        <h1 style="text-align: center">Profile of {{ user.username }}</h1>
        <div id="info-text" class="col-8" style="font-size: 25px">
            <p>- {{ user.username }} published {{ amount }} blogs</p>
            <p>- {{ user.username }} wrote {{ amount_comments }} comments</p>
            <a href="/banUser/{{ user.username }}/"><button class="btn btn-danger">Ban</button></a>
            <a href="/warn/{{ user.username }}/"><button class="btn btn-warning">Warn</button></a>
        </div>
    {% endif %}
{% endblock %}


{% block extra %}
    <h1>You are not logged in</h1>
    <p><a href="/login">Click here</a> to log in</p>
{% endblock %}