{% extends 'base.html' %}

{% load auth_extras %}

{% block title %}
    <title>User Dashboard</title>
{% endblock %}


{% block content %}
    {% if request.user|has_group:"Admin" %}
        <h1 style="text-align: center">All users</h1>
        <table class="table table-dark">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>More</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td><a href="/user/{{ user.username }}/"><b class="btn btn-success">View Profile</b></a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1>Not allowed</h1>
        <p>Go back to home here <a href="/home">here</a></p>
    {% endif %}
{% endblock %}


{% block extra %}
    <h1>You are not logged in</h1>
    <p><a href="/login">Click here</a> to log in</p>
{% endblock %}