{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block extra %}
	<h1 align="center">Login</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Einloggen</button>
                <p>Don't have an account? Register <a href="/register">here</a></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>You are already logged in!</h1>
    <p>Go to the homepage <a href="/home">here</a></p>
{% endblock %}