{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load auth_extras %}

{% block title %}
    <title>Reply</title>
{% endblock %}


{% block content %}
    {% if request.user|is_banned %}
        <p style="text-align: center; font-size: 45px">You are banned</p>
    {% else %}
        <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        <h1>Do you want to reply to the comment of {{ comment.user }}</h1>
                        <form method="post" action="" class="form-group mb-3">{% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success">Reply</button>
                        </form>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock %}


{% block extra %}
    <h1>You are not logged in</h1>
    <p><a href="/login">Click here</a> to log in</p>
{% endblock %}